html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: verdana;
}

h1 {
    display: flex;
    justify-content: center;
}

.spacing {
    width: 100%;
    margin: 10px auto;
}

.two-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.two-col-input {
    border: 1px solid grey;
    width:45%;
    height: 40px;
    border-radius: 8px;
    padding-left: 10px
}

.one-col-input {
    width:98%;
}

.desc {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

p {
    margin: 0;
}

.agreement1 {
    font-size: 12px;
    padding: 2px;
    border-radius: 2px;
}

.agreement2 {
    color: #03a9f4;
}

.fill-blue {
    background-color: blue;
    color: white;
}

.fill-green {
    background-color: green;
    color: white;
}